body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url(blackjack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    width: 150px;
    background: goldenrod;
    color: #016f32;
    font-weight: bolder;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
}